* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

body {
	font-family: 'Nanum Gothic', sans-serif;
	background-color: white;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Indie Flower', cursive;
}

h1 {
	margin: 1.6rem 2.4rem;
	color: orange;
}

input {
    margin: .4rem;
}